In [1]:
import sqlite3

sqlite3.version

'2.6.0'

In [4]:
# connect =  DB를 생성하는 함수
import sqlite3
con = sqlite3.connect('C:\pythonproject\DB\pydbtest.db')

print(type(con))

<class 'sqlite3.Connection'>

In [5]:
# cursor = sql 구문을 호출하기 위해 사용하는 함수

cursor = con.cursor()

sql='''
CREATE TABLE std (
    name TEXT,
    age INT,
    grade TEXT
);
'''

cursor.execute(sql)

In [ ]:
# DDL = 데이터 정의어 : CREATE, ALTER, DROP
# DML = 데이터 조작어 : SELECT, INSERT, UPDATE, DELETE
# DCL = 데이터 제어어 : COMMIT, ROLLBACK. GRANT, REVOKE

In [7]:
# INSERT INTO TABLENAME VALUES (a,a,a)
# INSERT INTO TABLENAME SET (A,B) VALUES (a,b)

sql2= '''
INSERT INTO std 
VALUES ('sungyulee',30,'A');
'''

cursor.execute(sql2)

In [ ]:
sql3= '''
COMMIT;
'''

cursor.execute(sql3)

# 또는 con.COMMIT() 으로 COMMIT 가능

In [11]:
cursor.execute( "INSERT INTO std VALUES ('sungyukim',31,'B');")
cursor.execute( "INSERT INTO std VALUES ('jungyulee',32,'C');")
cursor.execute( "INSERT INTO std VALUES ('jinyounglee',33,'D');")

In [12]:
con.commit()

In [13]:
cursor.execute( "DELETE FROM std WHERE name='jinyounglee'")
con.commit()

In [14]:
con.close() #db와 연결해제

In [17]:
import sqlite3

con = sqlite3.connect('C:\pythonproject\DB\pydbtest.db') #database를 연결한다.
cursor = con.cursor() #cursor를 만든다

sql ='''
SELECT * FROM std;
'''

cursor.execute(sql) # sql문을 실행한다.

b = cursor.fetchall() # 실행된 sql 문의 결과값을 받아온다.

print(b)

[('sungyulee', 30, 'A'), ('sungyukim', 31, 'B'), ('jungyulee', 32, 'C')]

In [18]:
sql ='''
SELECT * FROM std;
'''

cursor.execute(sql) # sql문을 실행한다.

b = cursor.fetchall() # 실행된 sql 문의 결과값을 받아온다.

print(b[1])

('sungyukim', 31, 'B')

In [20]:
import sqlite3

con = sqlite3.connect('C:\pythonproject\DB\pydbtest.db') #database를 연결한다.
cursor = con.cursor() #cursor를 만든다

sql ='''
SELECT * FROM std;
'''

cursor.execute(sql) # sql문을 실행한다.

b = cursor.fetchall() # 실행된 sql 문의 결과값을 받아온다.

for i in b : # 가져온 결과를 하나의 row씩 출력한다.
    print(i)

('sungyulee', 30, 'A')
('sungyukim', 31, 'B')
('jungyulee', 32, 'C')